<footer class="footer">
    <div class="footer__container container">
        <h3 class="container__info">watermark app</h3>
        <a href="https://github.com/Andreizayaz" class="container__info">Andrew Podislenkov</a>
        <p class="container__info">&copy; 2023</p>
    </div>
</footer>